<%- include('header') -%>

<p>
  <%
  for(var i = 0 ; i < list.length ; i++) { %>
  <ul>
    <li><a href= /admin/events/?slug=<%= list[i].slug %>&id=<%= list[i].id %>><%= list[i].name %></a></li>
  </ul>
<% } %></p>
<%- include('adminCreateEventForm') -%>
<%- include('footer') -%>
