<%- include('header') -%>

<p>
  <%
  for(var i = 0 ; i < list.length ; i++) { %>
    Skráning í viðburð
  <ul>
    <li>Nafn: <%= list[i].name%></li>
    <li>Slug: <%= list[i].slug%></li>
    <li>Lýsing: <%= list[i].descripion%></li>
    <li>Búið til: <%= list[i].created%></li>
    <li>síðast breytt: <%= list[i].updated%></li>
  </ul>
  <p>
    Eftirfarandi eru skráðir:
    <%
    for(var i = 0 ; i < list3.length ; i++) { %>
    <ul>
      <li><%= list3[i].name %>, <%= list3[i].comment %></li>
    </ul>
  <% } %></p>
<% } %></p>
<%- include('eventform') -%>
<%- include('footer') -%>
