<%- include('header') -%>

<div class="loginButton">
<button type="button"><a href = /admin/login>Login</a></button>
</div>
<p>
  <%
  for(var i = 0 ; i < list.length ; i++) { %>
  <ul>
    <li><a href= /events/?slug=<%= list[i].slug %>&id=<%= list[i].id %>><%= list[i].name %></a></li>
  </ul>
<% } %></p>
<%- include('footer') -%>
